[data-layout="horizontal"] {
  .app-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    display: inline-block;
    background-color: #082f49;
    @include media-breakpoint-down(xl) {
      height: 250px;
    }
  }
  .#{$customPrefix}-app-sidebar {
    background-color: #082f49;
    right: 0;
    top: var(--#{$prefix}app-header-height);
    bottom: auto;
    border-right: 0;
    width: auto;
    display: none;

    &.horizontal-sidebar {
      @include media-breakpoint-up(xl) {
        position: absolute;
        display: block;
      }
      &.show {
        display: block;
      }
      &.show ~ .sidebar-backdrop {
        opacity: 1;
        visibility: visible;
      }

      .#{$customPrefix}-app-sidebar-menu {
        height: 18.5rem;
        padding: 1.25rem;
        @include media-breakpoint-down(xl) {
          &.nav {
            display: block;
          }
          overflow-y: scroll;
        }
        @include media-breakpoint-up(xl) {
          height: 6rem;
          padding: 0 5.125rem;
        }
        .#{$customPrefix}-horizontal-menu {
          .#{$customPrefix}-menu-title {
            display: none;
          }
          @include media-breakpoint-down(xl) {
            .#{$customPrefix}-slide {
              &.#{$customPrefix}-has-sub {
                > .#{$customPrefix}-nav-link {
                  color: var(--#{$prefix}white);
                }
              }
            }
          }
          @include media-breakpoint-up(xl) {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            .#{$customPrefix}-slide {
              position: relative;
              &:hover {
                .#{$customPrefix}-slide-menu {
                  display: block;
                  height: auto;
                }
              }
              &.#{$customPrefix}-has-sub {
                > .#{$customPrefix}-nav-link {
                  color: var(--#{$prefix}white);
                  margin-bottom: 0;
                  @include media-breakpoint-up(xl) {
                    gap: 6px;
                    border: 1px solid rgba(var(--#{$prefix}white-rgb), 0.3);
                  }

                  &:hover,
                  &.active {
                    border-color: var(--#{$prefix}primary);
                    .#{$customPrefix}-nav-arrow {
                      transform: rotate(180deg);
                    }
                  }
                }
              }
              .#{$customPrefix}-slide-menu {
                position: absolute;
                z-index: 1006;
                top: 42px;
                left: 0;
                width: 11.7rem;
                background: var(--#{$prefix}app-sidebar-bg);
                border-radius: var(--#{$prefix}border-radius);
                box-shadow: var(--#{$prefix}box-shadow-sm);
                list-style: none;
                transition: $transition-base;

                .#{$customPrefix}-slide-item {
                  position: relative;

                  &.#{$customPrefix}-has-sub {
                    .#{$customPrefix}-slide-menu {
                      position: absolute;
                      left: 100%;
                      top: 0.625rem;
                      opacity: 0;
                      visibility: hidden;
                      padding-left: 0;
                    }

                    &:hover {
                      > .#{$customPrefix}-slide-menu {
                        opacity: 1;
                        visibility: visible;
                      }
                      > .#{$customPrefix}-nav-link .#{$customPrefix}-nav-arrow {
                        transform: rotate(180deg);
                      }
                    }

                    .#{$customPrefix}-slide-menu
                      .#{$customPrefix}-slide-item:hover {
                      > .#{$customPrefix}-slide-menu {
                        opacity: 1;
                        visibility: visible;
                      }
                      > .#{$customPrefix}-nav-link .#{$customPrefix}-nav-arrow {
                        transform: rotate(180deg);
                      }
                    }
                  }
                }

                .#{$customPrefix}-menu-title {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-breadcrumb {
    .breadcrumb-title,
    .breadcrumb a {
      color: var(--#{$prefix}white);
    }
    @include media-breakpoint-up(xl) {
      z-index: 1005;
      .breadcrumb-title {
        display: none;
      }
      .breadcrumb {
        position: absolute;
        top: -70px;
        right: 0;
      }
    }
  }
  .app-header {
    left: 0;
    z-index: 1006;
    background-color: #082f49;
    border-color: rgba(var(--#{$prefix}white-rgb), 0.1);

    .vertical-toggle {
      display: none;
    }
    @include media-breakpoint-down(xl) {
      .horizontal-toggle {
        display: block !important;
      }
    }
    @include media-breakpoint-up(xl) {
      padding: 0 4.375rem;
    }
  }
  .app-wrapper {
    margin-inline-start: auto;
    @include media-breakpoint-up(xl) {
      padding: 0 4.375rem;
      margin-block-start: calc(var(--#{$prefix}app-header-height) * 2.3);
    }
  }
  .footer {
    margin-inline-start: auto;
    @include media-breakpoint-up(xl){
      padding-left: 4.375rem;
      padding-right: 4.375rem;
    }
  }
  &[data-sidebar-color="dark"] {
    .#{$customPrefix}-app-sidebar{
      &.horizontal-sidebar{
        .#{$customPrefix}-app-sidebar-menu{
          .#{$customPrefix}-slide{
            &.#{$customPrefix}-has-sub {
              > .#{$customPrefix}-nav-link {
                &:hover,
                &.active{
                  border-color: rgba(var(--#{$prefix}white-rgb), 0.3);
                }
              }
            }
          }
        }
      }
    }
    .main-breadcrumb{
      .breadcrumb {
        .breadcrumb-item{
          &.active,
          &::before{
            color: rgba(var(--#{$prefix}white-rgb), 0.7);
          }
        }
      }
    }
  }
}
